<div class="card">
  <div class="card-body p-3">
    <h2>Filters</h2>
    <h3 class="subtitle">Limit Launches</h3>
    <div class="d-flex justify-content-between flex-wrap btn-wrapper">
      <button *ngFor="let limit of limits" class="btn btn-sm btn-success non-filter" [ngClass]="{
        'applied-filter': limit.value == filters.limit
      }" (click)="applyFilter('limit', limit, 'limit')">
      {{ limit.display }}
      </button>
    </div>
    <h3 class="subtitle">Launch Year</h3>
    <div class="d-flex justify-content-between flex-wrap btn-wrapper">
      <button *ngFor="let year of years" class="btn btn-sm btn-success non-filter" [ngClass]="{
        'applied-filter': year.value == filters.launch_year
      }" (click)="applyFilter('years', year, 'launch_year')">
      {{ year.display }}
      </button>
    </div>
    <h3 class="subtitle">Successful Launch</h3>
    <div class="d-flex justify-content-between flex-wrap btn-wrapper">
      <button *ngFor="let launch of launchValues" class="btn btn-sm btn-success non-filter" [ngClass]="{
          'applied-filter':launch.value == filters.launch_success
        }" (click)="applyFilter('launchValues', launch, 'launch_success')">
        {{ launch.display }}
      </button>
    </div>
    <h3 class="subtitle">Successful Landing</h3>
    <div class="d-flex justify-content-between flex-wrap btn-wrapper">
      <button *ngFor="let landing of landingValues"class="btn btn-sm btn-success non-filter" [ngClass]="{
        'applied-filter': landing.value == filters.land_success
      }" (click)="applyFilter('landingValues', landing, 'land_success')">
      {{ landing.display }}
    </button>
    </div>
  </div>
</div>